/* border-collapse:collapse;
    border-spacing:0;
	font-weight: normal;
	EDEDED
	D9DEE4
*/

	
	
table.ganttTable{
	/*border:2px solid rgba(34, 91, 136, .5);*/
	border:2px solid #D9DEE4;
	border-radius:15px;
}

.ganttTable thead tr {
	background:#EDEDED;
	border-bottom:2px solid #D9DEE4;
}

.ganttTable tbody tr {
	background:#fbfbfb;
	border-bottom:1px solid #D9DEE4;
}


.ganttTable tbody tr:nth-child(even) {
	background:#fbfbfb;
}
	
.headelGantt{
	
}

.ganttTable tbody tr .panelLeft{
	background:#f4f4f4;
	padding-left:10px;
}

.panelLeft.last{
	border-right: 2px solid #D9DEE4;
}

.ganttTable thead tr.gHeaderYear{
	border-bottom: none;
	color:black;
}

.ganttTable thead  th.rightPanel{
	text-align:center;
	border:1px solid #D9DEE4;
}

.ganttTable tbody td{
	padding-left:0;
	padding-right:0;
}

.ganttTable tbody td.rightPanel{
	color:#000000;
	text-align:center;
	border:1px solid #D9DEE4;
}

.ganttTable td.cellOwners.rightPanel{
	background:#fde7be;
	border-right: 2px solid #FFFFFF;
}

.ganttTable td.cellRentals.rightPanel{
	background:#9ad3eb;
	border-right: 2px solid #FFFFFF;
}

.ganttTable td.cellOwnersLoan.rightPanel{
	background:#fcec4d;
	border-right: 2px solid #FFFFFF;
}

.ganttTable td.cellNoChange.rightPanel{
	background:#7bc043;
	border-right: 2px solid #FFFFFF;
	padding-left:5px;
}

.orderField{
	float:right;
	line-height: 0;
}

.orderRow{
	cursor:pointer;
	display:table-row;
	font-size:.8rem;
	line-height: 0;
	color:#979b9f;
}

.orderRow.active{
	color:#000000;
}

.ganttTable td.cellOwners.rightPanel.FDBorder {
	border: 3px solid rgba(88, 85, 85, 0.5);
}

.ganttTable tbody tr.borderSelectFront {
	border: 3px solid rgba(88, 85, 85, 0.5);	
	border-right: 3px solid rgba(88, 85, 85, 0.5);	
}

#divTableFrontDesk{
	width:100%;
}

table#tableFrontDesk {
    /*overflow-x:scroll;*/
}

table#tableFrontDesk tbody {
    /*max-height: 500px;
    overflow-y:scroll;
    display:block;
	width: 100%;*/
}

/*table#tableFrontDesk1,
table#tableFrontDesk1 thead,
table#tableFrontDesk1 tbody,
table#tableFrontDesk1 tfoot,
table#tableFrontDesk1 tr,
table#tableFrontDesk1 th,
table#tableFrontDesk1 td {
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    border: none;
    border-collapse: inherit;
    border-spacing: 0;
    border-color: inherit;
    vertical-align: inherit;
    text-align: left;
    font-weight: inherit;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}

table#tableFrontDesk1{
	width:100%;
}

table#tableFrontDesk1 th, table#tableFrontDesk1 td {
    display: inline-table;
}

table#tableFrontDesk1 tbody {
    height: 500px;
    overflow-y:scroll;
    display:block;
	width: 100%;
}*/

/*table#tableFrontDesk1{
	table-layout:fixed;
	width:500px;
	border-collapse:collapse;
}*/

/*tbody {
  display: block;
  height: 400px;
  min-height: 200px;
  overflow-Y: scroll;
}
tr {
  display: block;
  overflow: hidden;
}*/

table#tableFrontDesk{
    table-layout: fixed;
    width: 100%;
	overflow-x: scroll;
	width:100%;
}

#tableFrontDesk head {
    z-index: 2;
}

#tableFrontDesk thead tr {
    padding-right: 17px;
    /*box-shadow: 0 4px 6px rgba(0,0,0,.6);*/
    z-index: 2;
}

#tableFrontDesk tbody {
    display: block;
    /*height: calc(50vh - 1px);*/
    /*min-height: calc(200px + 1 px);*/
    overflow-Y: scroll;
	height:400px;
	
}

#tableFrontDesk tr {
    display: block;
    overflow: hidden;
}

/*#tableFrontDesk td {
    padding: .5rem 0 .5rem 1rem;
    border-right: 2px solid rgba(0,0,0,.2);
}*/

/*#tableFrontDesk th, #tableFrontDesk td {
    width: 10%;
    float: left;
}*/

.gHeaderMonth .panelLeftHead{
	width: 40%;
    float: left;
}

.gHeaderMonth .rightPanel{
	width:60%;
	float:left;
}

.typeFd{
	width: 20%;
    float: left;
}

.NumFd{
	width: 5%;
    float: left;
}

.StatusFd{
	width: 5%;
    float: left;
}

.ViewFd{
	width: 10%;
    float: left;
}

.gHeaderDay .rightPanel{
	width: 5.45%;
    float: left;
}

.rightPanel.emptyUnitsFront{
	width: 5.45%;
    float: left;
	height:36px;
}

.rightPanel.showReservation{
	/*width: 5.45%;*/
    float: left;
	/*width:auto;*/
	/*height:34px;*/
}

/*.emptyUnitsFront{
	width:5%;
	float:left;
}*/