/**
* @style       Standard Layout
* @media       screen
* @version     1.0
* @author      
* @copyright   Geek Bucket
* @section	   css general de las pantallas
*/


/**
* @section body
* @todo cuerpo del html
* 183a59
*/

*{
    font-family: Arimo;
}
body {
    background-color: #f2f2f2;
}

/**
* @todo Field
*/
input.general {
	/*background:#000000;*/
	border-color:rgb(230, 230, 230);
	font-size: 0.875rem;
}

input.general:hover{
	border-color:#ebebeb;
	border-color:rgb(200, 200, 200);
	/*box-shadow: 0 2px 6px rgba(0,0,0,.2), 0 2px 3px rgba(0,0,0,.5);*/
	font-size:14px;
}

input.round, select.round{
	border-radius:3px;
	font-family: Arimo;
	font-size: 0.875rem;
	font-size:14px;
}

input.roundRight, select.roundRight{
	border-radius:0;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	background: #EDEDED;
    border-bottom: 1px solid #D9DEE4;
}

select.roundLeft{
	border-radius:0;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}


input[type=checkbox]:not(old),
input[type=radio]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('../img/common/checks2.png') no-repeat 0 0;
  line-height  : 24px;
}

input[type=checkbox]:not(old):checked + label{
  background-position : 0 -24px;
}

input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}

label {
	font-size:14px;
}

/**
* @todo Diseño de los campos select
*/
.caja {
   overflow: hidden;
   position:relative;
}

.caja select{
	background-image:none;
}

.caja select:focus{
	 outline: none;
}

.caja::after{
	content:"\025be";
	display:table-cell;
	padding-top:0 .5rem;
	text-align:center;
	width:25px;
	height: 100%;
	background-color:none;
	position:absolute;
	top:0;
	right:0px;	
	pointer-events: none;
	font-size:1.4rem;
	border: 1px solid #dbdbdb;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	font-family: Arimo;
}

/**
* @diseño de los botones en general
*/
.button {
	color: #fff;
    background-color: #225b88;
}

.button:hover {
	color: #e8edf1;
    background-color: #1D4D74;
}

.ui-widget-content a{
	color: white;
}

.btn{
	display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
	border-radius: 3px;
	/*margin-bottom: 5px;*/
    margin-right: 5px;
	/*float:right;*/
	margin-top:2px;
}

/**
* @section top menu
* @todo menu principal
*/
.top-menu{
	padding-top:0;
	padding-bottom:0;
	padding-left:0;
    background-color: #c7c7c7;
	background: #EDEDED;
    border-bottom: 2px solid #D9DEE4;
}
.menu-opt{
    float: left;
    margin-left: 10px;
}
.btn-menu{
    width: 45px;
    height: 45px;
    cursor: pointer;
    background:url("../img/common/iconMenu.png") no-repeat;
}
.btn-menu:hover {
    background-color: #183a59;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
.btn-menu-sel{
    /*background-color: #183a59;*/
}
.logo img{
    width: 45px;
    height: 45px;
}

.top-title{
    background-color: #ffffff;
    border-bottom: solid 2px #183a59;
	min-height:47px;
}
.top-title h6{
    color: #ffffff;
    margin: 12px 0 0 40px;
}
.general-section{
    padding: 0 20px 0 240px;
}
.menu-section{
    z-index: 100;
    float: left;
    position: fixed;
    height: 100%;
    width: 230px;
    background-color: #f2f2f2;
	
}
.menu-content{
    height: 100%;
    width: 220px;
    overflow-y: auto;
    padding: 29px 20px 0 20px;
	background-color: #FFFFFF;
	border-right: solid 4px #183a59;
	border-right: 1px solid rgba(20,53,80,0.14);
}
.menu-sel{
    cursor: pointer;
    padding: 6px 0px;
    margin-bottom: 12px;
    height: 40px;
    width: 100%;
	font-size: 16px;
	color:#183a59;
    background-color: #aaaaaa;
	background: #EDEDED;
	border: 1px solid rgba(20,53,80,0.14);
}

.menu-sel.active{
	border-left:3px solid #183a59;
}

.icon-menu-sel{
	float:left;
	font-size:22px;
	margin-top:-3px;
	margin-left:10px;
	width:30px;
}

.label-menu-sel{
	float:left;
	text-align:center;
	margin-top:2px;
	margin-left:5px;
}

.menu-sel:hover{
    background-color: #183a59;
	color:#FFFFFF;
}
.menu-fix{
    height: 80px;
}

.menu-config{
	float:right;
	/*width:100px;*/
	height:40px;
	background:#EFEFEF;
	margin-top:2px;
	margin-right:10px;
	border:#A1ACB2 solid 1px;
	border-radius:3px;
}

.menu-config img{
	margin-top:6px;
	margin-left:7px;
	margin-right:5px;
	height:25px;
	float:left;
}

.menu-config p{
	line-height: 37px;
	float:left;
	font-size:14px;
	margin-left:5px;
	margin-right:10px;
}

.menu-config span{
	line-height: 30px;
	float:left;
	font-size:20px;
	margin-left:5px;
	margin-right:10px;
	padding-left:5px;
	padding-right:5px;
	cursor:pointer;
}

.menu-config-dropdown{
	position:absolute;
	width:200px;
	top:42px;
	z-index:1001;
	right:17px;
	display:none;
}

.menu-config-dropdown ul{
	list-style:none;
	border:#c7c7c7 solid 1px;
}

.menu-config-dropdown ul a{
	color:black;
}

.menu-config-dropdown ul li{
	padding-left:10px;
	padding-top:4px;
	padding-bottom:4px;
	border-bottom:#c7c7c7 solid 1px;
}

.menu-config-dropdown ul li:hover{
	background:#c7c7c7;
}

/**
* pestañas
**/
.tabs{
	background: none;
    border: none;
	list-style:none;
}

.tabs .tabs-title{
	border: 1px solid rgba(20,53,80,0.14);
	padding:0;
	margin:0;
	margin:2px 3px;
	margin-right:2px;
	float:left;
	height:40px;
}

.tabs dd > a, .tabs .tabs-title > a{
	float:left;
	padding: 11px 30px;
	font-size:16px;
}

.tabs dd > a, .tabs .tabs-title > a {
    /*color: #000000;
    background: #B3B3B3;*/
	background-color:#d5d5d5;
	color:#183a59;
}

.tabs .tabs-title.active > a  {
	background-color:#183a59;
	color:#FFFFFF;
}

.iconCloseTab{
	font-size:11px;
	float:right;
	cursor: pointer;
	padding: 6px 10px;
	padding-bottom:7px;
	background:#bdbdbd;
	color:FFFFFF;
	border-left:1px solid #bababa;
	font-size:16px;
}
.iconCloseTab:hover{
    background-color: #FFFFFF;
}

.active .iconCloseTab{
	/*background:none;*/
	background:#132e47;
	border-left:1px solid #2f4d69;
	color:#FFFFFF;
}

.active .iconCloseTab:hover{
    background-color: #FFFFFF;
	color:#000000;
}

.moduleHide{
    display: none;
}

.module{
	position:relative;
	height:564px;
}

/**
* @section filter
* @todo filtros de busqueda y formularios de busqueda
*/

.fiter-section{
    margin-left: inherit;
    margin-right: inherit;
    max-width: none;
    /*padding: 10px 0;*/
    background-color: #ffffff;
}
.section-bar{
    position: relative;
    height: 34px;
    font-size: 14px;
    font-weight: bold;
    width: 200px;
    color: #ffffff;
    padding: 7px 10px 10px 60px;
    background: #183a59 url("../img/common/arrowSection.png") no-repeat right;
	float:left;
	margin-right:10px;
	cursor:pointer;
}
.collapseFilter{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 34px;
    cursor: pointer;
    background: url("../img/common/iconCollapse.png") no-repeat left;
}
.filter-fields{
    margin-top: 20px !important;
}

.rowSearch{
    margin: 0 0 20px 20px;
	margin-bottom:0;
}

.checkFilter{
	margin-bottom:0;
}

.fieldsetFilter{
	padding:0;
	margin-bottom:5px;
	float:left;
}

.fieldsetFilter legend{
	margin:0;
	font-size: 1rem;
    color: black;
    font-weight: normal;
    font-style: normal;
	margin-right:0;
	padding-right:0;
}

fieldset.fieldsetFilter legend input[type=checkbox]{
	margin:0px;
	padding-right:0;
	margin-right:0;
}

fieldset.fieldsetFilter legend label{
	padding-right:0;
	margin-right:0;
}

/*.legendSearch{
	margin:0;
	font-size: 1rem;
    color: black;
    font-weight: normal;
    font-style: normal;
	margin-right:0;
	padding-right:0;
}*/

.rdoField{
    float: left;
	padding-bottom:0;
	padding:0;
	margin:0;
	padding-right:5px;
	margin-left:-7px;
}

.rdoField input[type=radio], .rdoField input[type=checkbox]{
	/*margin-bottom:0;*/
	
}

.filtersAdvanced{
	margin:0;
	padding:0;
}

.groupBtnSearch{
	float:right;
}

.btnSearch{
	margin-bottom:0;
}

.txtSearch{
    /*max-width: 500px;*/
	border-radius:0;
	border-radius:3px;
	border-radius:3px;
	margin-bottom:0;
	font-size:14px;
	width:100%;
}

/**
* @section fieldset
* @todo contenedores de formularios
*/

.fieldset{
	border:1px solid #999;
	border-radius:1px;
	/*box-shadow:0 0 10px #999;*/
	box-shadow: 0 1px 2px 1px rgba(0,0,0,.08), 0 3px 6px rgba(0,0,0,.08);
}
.fieldset legend {
	background:#fff;
	font-size: 0.875rem;
	font-weight:normal;
	cursor:pointer;
}

.fieldsetFilter-advanced-hide{
	border:none;
	box-shadow:none;
	padding:0;
	margin:0;
	padding-left:2.5rem;
}

.fieldsetFilter-advanced-show{
	box-shadow:none;
	margin-top:0;
	padding-top:0;
	padding-bottom:0;
	margin-left:2rem;
}

.imgCollapseFieldset{
	width:20px;
	margin:0 5px;
}

/**
* @section paginador
* @todo paginador en general
*/

.pagination-section{
    margin-left: inherit;
    margin-right: inherit;
    max-width: none;
}
.pages{
    float: right;
}

.pagination {
    display: inline-block;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
	margin-top:4px;
	margin-right:5px;
	padding-bottom:0;
}

.pagination a {
	height:24px;
	width:24px;
	padding-bottom:0;
	/*background-color: #000000;
	margin-top:0;*/
}

.pagination input{
	height:24px;
}

/*.pages div{
    float: left;
    height: 34px;
    padding: 10px;
    color: #666666;
    font-size: 14px;
}
.pages .number{
    cursor: pointer;
}
.pages .number:hover{
    background-color: #c2c2c2;
}
.pages .selected{
    color: #ffffff !important;
    background-color: #939393;
}
.arrow-pag{
    padding: 5px 7px !important;
    color: #ffffff !important;
    font-size: 20px !important;
    font-weight: bold;
    cursor: pointer;
    background-color: #1f5c88;
}
*/
/**
* @section tabla de busqueda
* @todo tabla que muestra los resultados de la busqueda
*/

.table-section{
	position:relative;
	float:right;
    margin-left: inherit;
    margin-right: inherit;
    max-width: none;
    background-color: #ffffff;
    height: 400px;
	overflow-y:auto;
	width:100%;
	
}

.table{
	overflow:auto;
	padding-left:0;
	margin-left:0;
	height: 400px;
}

.pagina{
	padding-left:0;
	margin-left:0;
	height: 35px;
}


table thead tr th, table tbody tr td{
	font-family: Arimo;
	font-size:.7rem;
}

/**
* tamaño de las celdas
*/

.cellEdit{
	min-width:50px;
}

.cellSmall  {
	min-width:50px;
}

.cellGeneral{
	min-width:75px;
}

.cellMedium{
	min-width:120px;
}

.cellBig{
	min-width:150px;
	min-width:250px;
}


.cellDate{
	min-width:120px;
}

.cellAddress{
	min-width:150px;
}

.cellPhone{
	min-width:90px;
}

.cellEmail{
	min-width:90px;
}

/*** fin :)***/

.iconEdit{
	width:25px;
	cursor:pointer;
}

/**
* @section modal form
* @todo cambios del modal de jquery en general
*/

#aaaaa{
	width:100px;
	height:1000px;
	background:#000000;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
	/*padding-top:1px;
	padding-left:1px;
	padding-left:1px;*/
	padding-top:0;
	padding-left:0;
	padding-right:0;
	border-radius:0;
}

.dialogModal .ui-dialog-titlebar-close{
	display:none;
}
.ui-dialog-titlebar{
	color:#FFF;
	background:#183a59;
	border-radius:0;
	margin:0;
	background-color:#225b88;
}
.dialogModal .ui-dialog-titlebar{
	color:#FFF;	
	background:#183a59;
	border-radius:0;
	margin:0;
	/*background:#183a59 url("../img/common/arrowSection.png") no-repeat right;*/
	background-color:#225b88;
}

.ui-dialog .ui-dialog-title{
	font-family: Arimo;
	font-size:15px;
	font-weight:normal;
}

.ui-dialog-titlebar2{
	position:absolute;
	height:100%;
	width:95%;
	background:#183a59 url("../img/common/arrowSection2.png") no-repeat right;
	top:0;
	left:0;
}

.ui-dialog-titlebar2 label{
	font-family: Arimo;
	font-size:15px;
	font-weight:normal;
	color:#FFFFFF;
	padding-left:30px;
	padding-top:5px;
}

.imgCloseModal{
	position:absolute;
	right:5px;
	top:5px;
	width:20px;
	cursor:pointer;
}

.ui-draggable .ui-dialog-titlebar{
	
}
	
.dialogModalButtonCancel .ui-button-text{
	color:#FFF;	
	background:#225b88;
	border-color:#225b88;
	box-shadow: 0 1px 2px 1px rgba(0,0,0,.08), 0 3px 6px rgba(0,0,0,.08);
	font-family: Arimo;
	font-size:14px;
	font-weight:normal;
	width:150px;
	padding: .6em 1em;
}

.dialogModalButtonAccept .ui-button-text{
	color:#FFF;	
	background:#183a59;
	border-color:#183a59;
	box-shadow: 0 1px 2px 1px rgba(0,0,0,.08), 0 3px 6px rgba(0,0,0,.08);
	font-family: Arimo;
	font-size:14px;
	font-weight:normal;
	width:150px;
	padding: .6em 1em;
}

.dialogModalButtonSecondary{
	float:left;
}
.dialogModalButtonSecondary .ui-button-text{
	color:#FFF;	
	background:#183a59;
	border-color:#183a59;
	box-shadow: 0 1px 2px 1px rgba(0,0,0,.08), 0 3px 6px rgba(0,0,0,.08);
	font-family: Arimo;
	font-size:14px;
	font-weight:normal;
	width:150px;
	padding: .6em 1em;
}

.ui-dialog .ui-dialog-content {
	padding-left:0;
	padding-right:0;
	padding-top:0;
}

.tabsModal{
	float:left;
	width:100%;
	background:#FFFFFF;
	padding-top:0;
	margin-top:0;
	margin-bottom:0;
	padding-left:0;
}

.tabsModal .tabs .tabs-title a{
	/*padding-left:*/
	padding: 5px 15px;
}

.tab-modal{
	display:none;
	/*overflow:auto;*/
	height:400px;
}

.contentModal{
	height:auto;
	border-top:1px solid #aaaaaa;
	padding: .5em 1em;
}

.contentModalEdit{
	height:auto;
	border-top:1px solid #aaaaaa;
}

.tab-modal-top{
	margin-top: 1.25rem;
}

/**
* @section loading de busqueda 
* @todo loading de la tabla de busqueda  
*/

.divLoadingTable{
	position:absolute;
	width:100%;
	height:100%;
	z-index:10;
	top:0;
	left:0;
}

.loadingScreen{
	position:absolute;
	height:90px;
	width:150px;
	border-radius:5px;
	box-shadow:0 0 10px #e6e6e6;
	left:50%; 
    margin-left: -75px;
	top:50%;
	margin-top:-50px;
}

.loadingScreen label{
	width:100%;
	float:left;
	font-size:1.2rem;
	color:#225b88;
	text-align:center;
	font-weight:bold;
}

.imgLoadingScreen{
	width:100%;
	float:left;
	text-align:center;
}

/*********/
/**
* @section alert / alerta
* @todo mensaje de alerta
*/

.alertScreen{
	position:fixed;
	height:100%;
	width:100%;
	left:0;
	top:0;
	display:none;
	z-index:1001;
	
}

.bgAlertScreen{
	position:fixed;
	height:100%;
	width:100%;
	background:rgba(0,0,0, .4);
}

.alertMessage{
	position:fixed;
	/*background:#183a59;*/
	width: 250px;
    min-height: 150px;
    /*left: 558px;
    top: 179px;*/
	border-radius:4px;
	border:5px solid rgba(24, 58, 89, 0.8);
	/*border-color:#rgba(24, 58, 89, .8);*/
	background:#FFFFFF;
	box-shadow:0 0 10px #E0DBDB;
	text-align:center;
	left:50%; 
    margin-left: -125px;
	top:50%;
	margin-top:-85px;
}

.headerAlertMessage{
	width:100%;
	float:left;
	background:#225b88;
	height:30px;
	text-align:center;
	padding:0;
	border-bottom: 2px solid #aaaaaa;
}

.headerAlertMessage p {
	font-size:15px;
	font-weight:bold;
	color:#FFFFFF;
	padding-top:2px;
}

.bodyAlertMessage{
	width:100%;
	float:left;
	padding:10px 5px;
}

.bodyAlertMessage label{
	font-size:14px;
	margin-bottom:15px;
}

.bodyAlertMessage .btnAlertMessage{
	padding: 10px auto;
}

.bodyAlertMessage .cancel, .bodyAlertMessage .cancel:focus, .bodyAlertMessage .cancel:hover {
	background:#225b88;
	margin-right:2px;
}

.bodyAlertMessage .success, .bodyAlertMessage .success:focus, .bodyAlertMessage .success:hover {
	background:#183a59;
	margin-left:2px;
}

.alert-box label{
	color:#FFFFFF;
	font-size:16px;
}

.alertInput{
	background: red;
	color: white;
}

label.error{
	color:red;
}

.box {
 	position: relative;
  	margin: 20px 0;
  	width: 100%;
  	background: #fff;
  	border-radius: 4px; 
	float:left;
}
.box .box-body > table, .box .box-body > .table {
    margin-bottom: 0; 
}
.box .box-body > table, tr{
	text-align: left;
}
.box .box-header {
  	position: relative;
	height: 42px;
  	/*border: 1px solid #808080; */
	padding-left:15px;
}
 .box .box-header:before {
 	display: table;
    content: " "; 
}

.box .box-header:after {
    display: table;
    content: " ";
    clear: both; 
}
.box .box-body {
  	padding: 20px;
  	color: #8c92a3;
  	border: 1px solid #000000;
  	border-top: 0px;
}

.box .box-filter{
  	/*padding-top: 5px;
	padding-bottom: 5px;*/
	padding: 5px 15px;
}

.box .box-body p {
    /*font-size: 13px !important; */
}
.box .box-body > table, .box .box-body > .table {
    margin-bottom: 0; 
}
.section{
    max-width: none;
    padding: 10px 0;
    background-color: #ffffff;
}

.box .box-header a {
    /*color: #444; */
}
.box .box-header > .box-tools {
    padding: 10px 10px 10px 10px;
	padding-top:5px;
}

.box-tools img{
	margin-top:-3px;
}

.box-tools span {
  height: 20px;
  display: inline-block;
  line-height: 28px;
  text-align: center;
  /*border-radius: 50%;*/
  cursor: pointer; 
  margin-left:5px;
  /*font-style:italic;*/
}

.box .box-header .box-title {
    /*display: inline-block;*/
    /*padding: 4px 0px 12px 0;*/
	padding: 9px 12px;
	position:relative;
    margin: 0px;
    font-size: 1em;
    float: left;
    cursor: default;
}

.box .box-header .box-title i {
	width: 35px;
	display: block;
	text-align: center;
	cursor: pointer;
	margin: 3px 5px;
	position: relative;
	padding: 0;
	border-radius: 50%;
	float: left; 
	border:none;
}

.box .box-header .box-title span {
	/*top: 5px;
	position: relative;
	left: 5px;
	font-family: Arimo;
	font-weight: lighter;
	float:left;*/
}


.dark-blue {
    background-color: #34495e;
}

.green {
    background-color: #16a085;
}

.blue {
    background-color: #2980b9 ;
}

.orange {
    background-color: #f39c12;
}

.red {
    background-color: #e74c3c;
}

.purple {
    background-color: #8e44ad !important;
}

.dark-gray {
    background-color: #7f8c8d;
}

.gray {
    background-color: #95a5a6;
}

.light-gray {
    background-color: #bdc3c7;
}

.yellow {
    background-color: #f1c40f !important;
}
.blue_divina{
	background-color: #225b88;
}

/**
* @section search
* @todo form de busqueda
*/
.search-section{
	/*margin-left:0;
	padding-left:0;*/
}

.search-section .search{
	/*margin:10px 15px 10px 15px;
	margin-left:0;
	padding-left:0;*/
	margin-top:10px;
	margin-bottom:5px;
}

.search-section .search .fieldSearch{
    background: url("../img/common/iconSearch.png") no-repeat right;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	font-size:16px;
	font-size: .9rem;
}

.search-section .rowBtnSearch{
	margin-top:0px;
	margin-bottom:10px;
}

.search-section .rowBtnSearch .groupBtnSearch .btnSearch{
	border-color:#FFFFFF;
	background:#183a59;
	font-size:0.8rem;
	color:#FFFFFF;
	 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 3px;
}

.table-section2{
	overflow:auto;
	padding-left:0;
	margin-left:0;
}

/**
* @medias query
* @media query para la resolucion de tamaños
*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	
	.general-section{
		padding: 0 20px 0 240px;
		padding:0;
	}
	.menu-section{
		z-index: 1000;
		float: left;
		position: fixed;
		height: auto;
		width: 100%;
	}
	.menu-content{
		height: 100%;
		width: 100%;
		overflow-y: auto;
		padding-top:10px;
		padding-bottom:10px;
	}
	.menu-sel{
		cursor: pointer;
		padding-top: 12px;
		margin-bottom: 5px;
		margin:0;
		height: 40px;
		width: 180px;
		color: #3b3b3b;
		font-size: 14px;
		text-align: center;
		background-color: #aaaaaa;
		float:left;
		margin-right:15px;
	}
	
	.menu-fix{
		height:auto;
	}
	.general-section{
		padding: 50px 5px 5px 5px;
	}
	
	/*.menu-sel:hover{
		color: #ffffff;
		background-color: #183a59;
	}
	.menu-fix{
		height: 80px;
	}*/	
}

th.prev {
	background:url("../img/common/triangleLeft.png") no-repeat;
}

th.next{
	background:url("../img/common/triangleRight.png") no-repeat;
}
#newContract{
	width: 90px;
}

.espacio{
	margin-left: 215px;
}

.trColspan{
	background:#cacaca;
	font-size:1rem;
	font-weight:bold;
	border:#AAAAAA solid 1px;
}

.trColspan th{
	font-size:.8rem;
	font-weight:bold;
}

.tableAccountResult tbody tr td:nth-of-type(odd) {
	background:#F3F3F3;
	font-size:.8rem;
	font-weight:bold;
	border:#DCDCDC solid 1px;
}

.tableAccountResult tbody tr td:nth-of-type(even) {
	background:#FFFFFF;
	font-size:.7rem;
	font-weight:normal;
	border:#DCDCDC solid 1px;
}

.tableAccountResult .trColspan th{
	line-height: 12px;
}

.tableAccountResult tbody tr td{
	line-height: 8px;
}

.headerModalBtn{
	margin-left:2px;
}

.headerModalBtn a{
	margin-bottom:1px;
}

.headerDescription{
	margin-bottom:0;
	padding-bottom:0;
}

.headerDescriptionTitle{
	font-weight:bold;
	font-size:1rem;
	padding-bottom:0;
	margin-bottom:0;
	line-height:16px;
}

.headerGeneral{
	padding-bottom:0;
	margin-bottom:2px;
	line-height:16px;
}

.pr-color{
	background-color:#183a59;
	color:#FFFFFF;
	font-size:16px;
	border: 1px solid rgba(20,53,80,0.14);
}

.se-color{
	background-color:#EDEDED;
	color:#183a59;
	border: 1px solid rgba(20,53,80,0.14);
}

.btn-primary{
	color: #FFFFFF;
    background-color: #183a59;
	border: 1px solid rgba(20,53,80,0.14);
}

.btn-primary:hover{
	color: #fff;
    background-color: #225b88;
    border-color: #18405f;
}

