/**
* @style       Standard Layout
* @media       screen
* @version     1.0
* @author      Alfredo Chi
* @copyright   Geek Bucket
* @section	   css general de las pantallas
*/


/**
* @section body
* @todo cuerpo del html
*/

*{
    font-family: Arimo;
}
body {
    background-color: #f2f2f2;
}

/**
* @section top menu
* @todo menu principal
*/

.top-menu{
    background-color: #c7c7c7;
}
.menu-opt{
    float: left;
    margin-left: 10px;
}
.btn-menu{
    width: 45px;
    height: 45px;
    cursor: pointer;
    background: #3e3e3c url("../img/common/iconMenu.png") no-repeat;
}
.btn-menu:hover {
    background-color: #183a59;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
.btn-menu-sel{
    background-color: #183a59;
}
.logo img{
    width: 45px;
    height: 45px;
}

.top-title{
    background-color: #ffffff;
    border-bottom: solid 4px #183a59;
}
.top-title h6{
    color: #ffffff;
    margin: 12px 0 0 40px;
}
.general-section{
    padding: 0 20px 0 240px;
}
.menu-section{
    z-index: 1000;
    float: left;
    position: fixed;
    height: 100%;
    width: 230px;
    background-color: #f2f2f2;
}
.menu-content{
    height: 100%;
    width: 220px;
    overflow-y: auto;
    padding: 20px 0 0 20px;
    background-color: #c7c7c7;
}
.menu-sel{
    cursor: pointer;
    padding-top: 12px;
    margin-bottom: 20px;
    height: 40px;
    width: 180px;
    color: #3b3b3b;
    font-size: 14px;
    text-align: center;
    background-color: #aaaaaa;
}
.menu-sel:hover{
    color: #ffffff;
    background-color: #183a59;
}
.menu-fix{
    height: 80px;
}

.tabs dd > a, .tabs .tab-title > a{
    font-size: 14px;
    margin: 8px 5px 0 0;
    padding: 5px 30px;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border: 1px solid #000000;
    border-bottom: 0px;
}
.tabs dd > a, .tabs .tab-title > a {
    color: #ffffff;
    background: #183a59;
}
.iconCloseTab{
    top: -30px;
    right: 10px;
    float: right;
    cursor: pointer;
    position: inherit;
}
.iconCloseTab:hover{
    background-color: #265580;
}
.active .iconCloseTab:hover{
    background-color: #e8e8e8;
}

.moduleHide{
    display: none;
}

/**
* @section filter
* @todo filtros de busqueda y formularios de busqueda
*/

.fiter-section{
    margin-left: inherit;
    margin-right: inherit;
    max-width: none;
    padding: 10px 0;
    background-color: #ffffff;
}
.section-bar{
    position: relative;
    height: 34px;
    font-size: 14px;
    font-weight: bold;
    width: 200px;
    color: #ffffff;
    padding: 10px 10px 10px 60px;
    background: #183a59 url("../img/common/arrowSection.png") no-repeat right;
	float:left;
	margin-right:10px;
	cursor:pointer;
}
.collapseFilter{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 34px;
    cursor: pointer;
    background: url("../img/common/iconCollapse.png") no-repeat left;
}
.filter-fields{
    margin-top: 20px !important;
}
.rdoField{
    padding: 10px 0 0 40px;
    float: left;
}
.rowSearch{
    margin: 0 0 20px 20px;
	margin-bottom:0;
}

.groupBtnSearch{
	float:right;
}

.btnSearch{
	border-color:#FFFFFF;
	background:#183a59;
	font-size:0.8rem;
}

.txtSearch{
    max-width: 500px;
    background: url("../img/common/iconSearch.png") no-repeat right;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

/**
* @section fieldset
* @todo contenedores de formularios
*/

.fieldset{
	border:1px solid #999;
	border-radius:5px;
	box-shadow:0 0 10px #999;
}
.fieldset legend {
	background:#fff;
	font-size: 0.875rem;
	font-weight:normal;
}

.fieldsetFilter-advanced-hide{
	border:none;
	box-shadow:none;
	padding:0;
	margin:0;
	padding-left:2.5rem;
}

.fieldsetFilter-advanced-show{
	box-shadow:none;
	margin-top:0;
	padding-top:0;
	padding-bottom:0;
	margin-left:2rem;
}

/**
* @section paginador
* @todo paginador en general
*/

.pagination-section{
    margin-left: inherit;
    margin-right: inherit;
    max-width: none;
}
.pages{
    float: right;
}

.pagination {
    display: inline-block;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
	margin-top:4px;
	margin-right:5px;
	padding-bottom:0;
}

.pagination a {
	height:24px;
	width:24px;
	padding-bottom:0;
	/*background-color: #000000;
	margin-top:0;*/
}


/*.pages div{
    float: left;
    height: 34px;
    padding: 10px;
    color: #666666;
    font-size: 14px;
}
.pages .number{
    cursor: pointer;
}
.pages .number:hover{
    background-color: #c2c2c2;
}
.pages .selected{
    color: #ffffff !important;
    background-color: #939393;
}
.arrow-pag{
    padding: 5px 7px !important;
    color: #ffffff !important;
    font-size: 20px !important;
    font-weight: bold;
    cursor: pointer;
    background-color: #1f5c88;
}
*/
/**
* @section tabla de busqueda
* @todo tabla que muestra los resultados de la busqueda
*/

.table-section{
	position:relative;
	float:right;
    margin-left: inherit;
    margin-right: inherit;
    max-width: none;
    background-color: #ffffff;
    height: 400px;
	overflow:scroll;
	width:100%;
}

#tablePeople thead tr th, #tablePeople thead tr td{
	font-size:.7rem;
}

/**
* @section modal form
* @todo cambios del modal de jquery en general
*/

.dialogModal .ui-dialog-titlebar{
	color:#FFF;	
	background:#183a59;
}
	
/*.dialogDash .ui-button .ui-button-text{
	color:#FFF;	
	background:#cf2a0e;
	border-color:#cf2a0e;
}*/
	
.dialogModalButtonCancel .ui-button-text{
	color:#FFF;	
	background:#cf2a0e;
	border-color:#cf2a0e;
}

.dialogModalButtonAccept .ui-button-text{
	color:#FFF;	
	background:#008CBA;
	border-color:#007095;
}

/**
* @section loading de busqueda 
* @todo loading de la tabla de busqueda  
*/

.divLoadingTable{
	position:absolute;
	float:left;
	width:100%;
	height:400px;
	display:none;
}

.bgLoadingTable{
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(0,0,0, .4);
}

.loadingTable{
	position:absolute;
	left:40%;
	top:40%;
	height:90px;
	width:150px;
	background:#183a59;
	border-radius:5px;
	box-shadow:0 0 10px #e6e6e6;
}

.subLoadingTable{
	position:relative;
	height:86px;
	width:146px;
	background:#FFFFFF;
	border-radius:5px;
	margin-top:2px;
	margin-left:2px;
	padding-left:6px;
	padding-right:6px;
}

.subLoadingTable label{
	padding-top:15px;
	text-align:center;
	padding-bottom:10px;
	font-size:12px;
	font-weight:bold;
}

.subLoadingTable #progressbar{
	height:20px;
}

/********************************/
/**********paginador*************/